@model lab_7.Models.Realtor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Realtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Realtor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
