@model lab_7.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Real_estate_objects.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Real_estate_objects.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realtor.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realtor.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sale_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
